{% extends "base.html" %}
{% load static %}
{% block content %}


    <h2>Welcome, {{ employee.first_name }}!</h2>

    {% if role_name == "employee" %}




        <img src="{% static 'images/employee_dashboard.png'%}" class="fullscreen-bg" style = "object-fit:cover;"alt="employee-dashboard">

        
        

    {% elif role_name == "supervisor" %}



        <img src="{% static 'images/Manager_dashboard.png'%}" class="fullscreen-bg" style = "object-fit:cover;"alt="Manager-dashboard">
        
             
        

    {% elif role_name == "manager" %} 
    
    
                
    
        <img src="{% static 'images/Manager_dashboard.png'%}" class="fullscreen-bg" style = "object-fit:cover;"alt="Manager-dashboard">

    {% else %}
        
            Hi User 
       
    {% endif %}

{% endblock %}
